<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/app.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="header-container">
        <nav class="header-navigation">
          <a href="../index.html"
            ><img
              class="header-logo"
              src="../img/logo.svg"
              alt="header-logo"
              width="196px"
              height="100px"
          /></a>
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./appointment.html"
                >Appointment</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./gallery.html"
                >Gallery</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./services.html"
                >Services</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./team.html">Team</a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./reviews.html"
                >Reviews</a
              >
            </li>
            <li class="header-navigation-item">
              <a
                class="header-navigation-link current-link"
                href="./contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
