<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/gallery.css" />
    <script src="./js/app.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="header-container">
        <nav class="header-navigation">
          <a href="../index.html"
            ><img
              class="header-logo"
              src="../img/logo.svg"
              alt="header-logo"
              width="253px"
              height="129px"
          /></a>
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./appointment.html"
                >Appointment</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./gallery.html"
                >Gallery</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./services.html"
                >Services</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./team.html">Team</a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./reviews.html"
                >Reviews</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="gallery container">
        <ul class="gallery-list">
          <li class="gallery-item1">
            <img
              src="../img/photo-1-1x.jpg"
              alt="photo1"
              srcset="../img/photo-1-1x.jpg 1x, ../img/photo-1-2x.jpg 2x"
              width="370px"
              height="583px"
            />
          </li>
          <li class="gallery-item2">
            <img
              src="../img/photo-2-1x.jpg"
              alt="photo2"
              srcset="../img/photo-2-1x.jpg 1x, ../img/photo-2-2x.jpg 2x"
              width="465px"
              height="410px"
            />
          </li>
          <li class="gallery-item3">
            <img
              src="../img/photo-3-1x.jpg"
              alt="photo3"
              srcset="../img/photo-3-1x.jpg 1x, ../img/photo-3-2x.jpg 2x"
              width="465px"
              height="410px"
            />
          </li>
          <li class="gallery-item4">
            <img
              src="../img/photo-4-1x.jpg"
              alt="photo4"
              srcset="../img/photo-4-1x.jpg 1x, ../img/photo-4-2x.jpg 2x"
              width="370px"
              height="583px"
            />
          </li>
          <li class="gallery-item5">
            <img
              src="../img/photo-5-1x.jpg"
              alt="photo5"
              srcset="../img/photo-5-1x.jpg 1x, ../img/photo-5-2x.jpg 2x"
              width="465px"
              height="364px"
            />
          </li>
          <li class="gallery-item6">
            <img
              src="../img/photo-6-1x.jpg"
              alt="photo6"
              srcset="../img/photo-6-1x.jpg 1x, ../img/photo-6-2x.jpg 2x"
              width="465px"
              height="364px"
            />
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
