<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="./js/app.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="header-container">
        <nav class="header-navigation">
          <a href="./index.html"
            ><img
              class="header-logo"
              src="../img/logo.svg"
              alt="header-logo"
              width="253px"
              height="129px"
          /></a>
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a
                class="header-navigation-link"
                href="./partials/appointment.html"
                >Appointment</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./partials/gallery.html"
                >Gallery</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./partials/services.html"
                >Services</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./partials/team.html"
                >Team</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./partials/reviews.html"
                >Reviews</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./partials/contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="gallery">
        <ul class="gallery-list">
          <li class="gallery-item">
            <img src="../img/photo-1-1x.jpg" alt="photo1"
            srcset="../img/photo-1-1x.jpg" 1x, "../img/photo-1-2x.jpg" 2x />
          </li>
          <li class="gallery-item">
            <img src="../img/photo-2-1x.jpg" alt="photo2" srcset="" />
          </li>
          <li class="gallery-item">
            <img src="../img/photo-3-1x.jpg" alt="photo3" srcset="" />
          </li>
          <li class="gallery-item">
            <img src="../img/photo-4-1x.jpg" alt="photo4" srcset="" />
          </li>
          <li class="gallery-item">
            <img src="../img/photo-5-1x.jpg" alt="photo5" srcset="" />
          </li>
          <li class="gallery-item">
            <img src="../img/photo-6-1x.jpg" alt="photo6" srcset="" />
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
