<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/services.css" />
    <script src="../js/app.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="header-container">
        <nav class="header-navigation">
          <a href="../index.html"
            ><img
              class="header-logo"
              src="../img/logo.svg"
              alt="header-logo"
              width="196px"
              height="100px"
          /></a>
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./appointment.html"
                >Appointment</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./gallery.html"
                >Gallery</a
              >
            </li>
            <li class="header-navigation-item">
              <a
                class="header-navigation-link current-link"
                href="./services.html"
                >Services</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./team.html">Team</a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./reviews.html"
                >Reviews</a
              >
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="./contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="services container">
        <div class="services-div1">
          <ul class="services-list">
            <li class="services-item">
              <img
                class="services-img"
                src="../img/Ellipse-1-1x.jpg"
                alt="Ellipse-1"
                srcset="../img/Ellipse-1-1x.jpg 1x, ../img/Ellipse-1-2x.jpg 2x"
                width="350px"
                height="350px"
              />
              <p class="services-text">Hair Styling</p>
            </li>
            <li class="services-item">
              <img
                class="services-img"
                src="../img/Ellipse-2-1x.jpg"
                alt="Ellipse-2"
                srcset="../img/Ellipse-2-1x.jpg 1x, ../img/Ellipse-2-2x.jpg 2x"
                width="350px"
                height="350px"
              />
              <p class="services-text">Beard Trimming</p>
            </li>
            <li class="services-item">
              <img
                class="services-img"
                src="../img/Ellipse-3-1x.jpg"
                alt="Ellipse-3"
                srcset="../img/Ellipse-3-1x.jpg 1x, ../img/Ellipse-3-2x.jpg 2x"
                width="350px"
                height="350px"
              />
              <p class="services-text">Smooth Shave</p>
            </li>
            <li class="services-item">
              <img
                class="services-img"
                src="../img/Ellipse-4-1x.jpg"
                alt="Ellipse-4"
                srcset="../img/Ellipse-4-1x.jpg 1x, ../img/Ellipse-4-2x.jpg 2x"
                width="350px"
                height="350px"
              />
              <p class="services-text">Hair Straightening</p>
            </li>
          </ul>
        </div>
        <div class="services-div2">
          <img
            src="../img/services-1-1x.jpg"
            alt="services-1"
            srcset="../img/services-1-1x.jpg 1x, ../img/services-1-2x.jpg 2x"
            width="945px"
            height="1080px"
          />
        </div>
      </section>
    </main>
  </body>
</html>
